<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.UserPmEvaluationMapper">
  <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.model.UserPmEvaluationModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="evaluation_date" jdbcType="TIMESTAMP" property="evaluationDate" />
    <result column="study_skill" jdbcType="INTEGER" property="studySkill" />
    <result column="responsibility" jdbcType="INTEGER" property="responsibility" />
    <result column="communication" jdbcType="INTEGER" property="communication" />
    <result column="confidence" jdbcType="INTEGER" property="confidence" />
    <result column="knowledge_storage" jdbcType="INTEGER" property="knowledgeStorage" />
    <result column="pm_skill" jdbcType="INTEGER" property="pmSkill" />
    <result column="operation_skill" jdbcType="INTEGER" property="operationSkill" />
    <result column="data_analysis" jdbcType="INTEGER" property="dataAnalysis" />
    <result column="office_skill" jdbcType="INTEGER" property="officeSkill" />
    <result column="pmo_skill" jdbcType="INTEGER" property="pmoSkill" />
    <result column="team_work" jdbcType="INTEGER" property="teamWork" />
    <result column="promotion_training" jdbcType="INTEGER" property="promotionTraining" />
    <result column="strategic_thinking" jdbcType="INTEGER" property="strategicThinking" />
    <result column="business_thinking" jdbcType="INTEGER" property="businessThinking" />
    <result column="decision_skill" jdbcType="INTEGER" property="decisionSkill" />
    <result column="innovation_skill" jdbcType="INTEGER" property="innovationSkill" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, evaluation_date, study_skill, responsibility, communication, confidence,
    knowledge_storage, pm_skill, operation_skill, data_analysis, office_skill, pmo_skill, 
    team_work, promotion_training, strategic_thinking, business_thinking, decision_skill, 
    innovation_skill, create_time, update_time
  </sql>


  <select id="selectLastOneByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_pm_evaluation
    where open_id = #{openId,jdbcType=VARCHAR}
    order by create_time desc limit 1
  </select>

  <insert id="insert" parameterType="com.tencent.wxcloudrun.model.UserPmEvaluationModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_pm_evaluation (open_id, evaluation_date, study_skill,
      responsibility, communication, confidence, 
      knowledge_storage, pm_skill, operation_skill, 
      data_analysis, office_skill, pmo_skill, 
      team_work, promotion_training, strategic_thinking, 
      business_thinking, decision_skill, innovation_skill, 
      create_time, update_time)
    values (#{openId,jdbcType=VARCHAR}, #{evaluationDate,jdbcType=TIMESTAMP}, #{studySkill,jdbcType=INTEGER},
      #{responsibility,jdbcType=INTEGER}, #{communication,jdbcType=INTEGER}, #{confidence,jdbcType=INTEGER}, 
      #{knowledgeStorage,jdbcType=INTEGER}, #{pmSkill,jdbcType=INTEGER}, #{operationSkill,jdbcType=INTEGER}, 
      #{dataAnalysis,jdbcType=INTEGER}, #{officeSkill,jdbcType=INTEGER}, #{pmoSkill,jdbcType=INTEGER}, 
      #{teamWork,jdbcType=INTEGER}, #{promotionTraining,jdbcType=INTEGER}, #{strategicThinking,jdbcType=INTEGER}, 
      #{businessThinking,jdbcType=INTEGER}, #{decisionSkill,jdbcType=INTEGER}, #{innovationSkill,jdbcType=INTEGER},
      now(), now())
  </insert>

</mapper>